/* header menu */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #5F9DF7;
}

.dropdown-item:hover {
    background-color: #5F9DF7;
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.row-req-table {
	margin-top: 20px;
}
/* 
.container-req-table {
	margin-left: 10px;
} */

.tbl-header-name{
	width: 30%;
}


.container-list-table {
    margin-left: 10px;
    padding-top: 10px;
}

.row-list{
    padding-top: 10px;
}

.search-input-text{
    width: 50%
}

.w-double{
    width: 200px;
}

.group-category{
    background-color: #F2F2F2;
}

.group-category-home{
    background-color: #f7fafa;
}


table.tbl-th-centered > thead > tr > th {
    text-align: center;
}


td {
    word-break: break-all
}

.table-avoid-overflow {
    overflow-x: auto;
}

label {
    user-select: none;
}

.input-box-radio {
    /* add the class below to the parent div of radio/checkbox input if it is beside a text/date/select input that has form-control and form-floating class */
    position: relative;
    top: 16px;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

/* CSS for Chart start */
@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;
    
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .pie:before,
  .pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .pie:before {
    inset: 0;
    background: 
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation: p 1s .5s both;
  }
  .no-round:before {
    background-size: 0 0,auto;
  }
  .no-round:after {
    content: none;
  }
  @keyframes p {
    from{--p: 0}
  }

  /* CSS for Chart end */


  .dash-summary-row {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05);
    padding-bottom: .5rem;
  }

  .dash-summary-row {
    text-align: left;
  }
  .dash-summary-row:hover {
    box-shadow: inset 0 0 0 9999px rgba(150, 150, 150, 0.3);
  }
  
  .dash-summary-row a:link {
    text-decoration: none;
  }

  .dash-summary-row a:visited {
    text-decoration: none;
  }

  .dash-summary-row a:hover {
    text-decoration: none;
  }

  .dash-summary-row a:active {
    text-decoration: none;
  }

  .dash-summary-count {
    text-align: right;
  }

  .dash-date {
    text-align: right;
  }

  /* .dash-head {
    min-height: 250px;
  } */

  .dash-notifications {
    min-height: 150px;
    max-height: 250px;
    overflow-y: scroll; /* Add the ability to scroll */
  }

  .dash-notifications::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .dash-notifications {
    -ms-overflow-style: -ms-autohiding-scrollbar;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scrollbar-color: #1746A2;
  }
  .home-buttons {
    min-height: 16em;
    max-height: 16em;
    /* margin-top:1em;
    margin-bottom:1em; */
    margin:1em;
    padding: 2em;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .dash-notifications:hover {
    -ms-overflow-style: thin;  /* IE and Edge */
    scrollbar-width: thin;  /* Firefox */
    scrollbar-color: #1746A2;
  }
  
  /* .notif-entry {
    padding: 0.25rem;
    margin-bottom: 0.5rem;
  } */
  .notif-entry:hover {
    /* background-color: #fff;
    border-radius: 10px; */
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
  }

  .notif-content {
    color: #000;
  }

  .notif-time {
    text-align: right;
    font-size: 0.75em;
    font-style: italic;
    color: #b2b2b2;
  }

  a.action-view:link {
    text-decoration: none;
  }

  #btnTop {
    height: 3em;
    width: 3em;
    display: none;
    border: none; 
    outline: none; 
    font-size: 1.2em;
    background-color: #1746A2; 
    color: white; 
    padding: 0.2em; 
    border-radius: 30px; 
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    cursor: pointer; 
  }
  
  #btnTop:hover {
    background-color: #1745a264; /* Add a dark-grey background on hover */
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }