/* header menu */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #5F9DF7;
}

.dropdown-item:hover {
    background-color: #5F9DF7;
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.row-req-table {
	margin-top: 20px;
}
/* 
.container-req-table {
	margin-left: 10px;
} */

.tbl-header-name{
	width: 30%;
}


.container-list-table {
    margin-left: 10px;
    padding-top: 10px;
}

.row-list{
    padding-top: 10px;
}

.search-input-text{
    width: 50%
}

.w-double{
    width: 200px;
}

.group-category{
    background-color: #F2F2F2;
}

.group-category-home{
    background-color: #f7fafa;
}


table.tbl-th-centered > thead > tr > th {
    text-align: center;
}


td {
    word-break: break-all
}

.table-avoid-overflow {
    overflow-x: auto;
}

label {
    user-select: none;
}

.input-box-radio {
    /* add the class below to the parent div of radio/checkbox input if it is beside a text/date/select input that has form-control and form-floating class */
    position: relative;
    top: 16px;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

/* CSS for Chart start */
@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p: 20;
    --b: 22px;
    --c: darkred;
    --w: 150px;
    
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .pie:before,
  .pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .pie:before {
    inset: 0;
    background: 
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation: p 1s .5s both;
  }
  .no-round:before {
    background-size: 0 0,auto;
  }
  .no-round:after {
    content: none;
  }
  @keyframes p {
    from{--p: 0}
  }

  /* CSS for Chart end */


  .dash-summary-row {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05);
    padding-bottom: .5rem;
  }

  .dash-header {
    text-align: left;
  }

  .dash-count {
    text-align: right;
  }

  .dash-date {
    text-align: right;
  }