/* header menu */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #5F9DF7;
}

.dropdown-item:hover {
    background-color: #5F9DF7;
    box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
}

.row-req-table {
	margin-top: 20px;
}

.container-req-table {
	margin-left: 10px;
}

.tbl-header-name{
	width: 30%;
}


.container-list-table {
    margin-left: 10px;
    padding-top: 10px;
}

.row-list{
    padding-top: 10px;
}

.search-input-text{
    width: 50%
}

.group-category{
    background-color: #F2F2F2;
}
