.filter-employee {
	width: 60px;
}

/* employee registration */
.emp-regist-category{
    background-color: #F2F2F2;
}

.text-danger{
    text-align: left;
}

/* employee details */
.rqst-btn {
    width: 110px;
}

table#laptop-tbl  > thead > tr > th{
    width:20%;
    text-align: center;
}

table#project-tbl  > thead > tr > th{
    text-align: center;
}

.passport-status {
    margin: 0.3em
}

.is-disabled {
    background-color: #e9ecef;
}

.alert-success {
	text-align: left;
}

.bi-exclamation-circle-fill{
    color: red;
    display: none;
}

.bi-check-circle-fill{
    color: green;
    display: none;
}