.filter-software {
	width: 60px;
}

/* software registration */
.soft-regist-category{
    background-color: #F2F2F2;
}

.softtext-danger{
    text-align: left;
}

.softrqst-btn {
    width: 110px;
}

table#project-tbl  > thead > tr > th{
    text-align: center;
}

.alert-success {
	text-align: left;
}

